service: fastai-hotdog

provider:
  name: aws
  runtime: python3.6
  iamRoleStatements:
    - Effect: Allow
      Action:
        - "s3:*"
      Resource: "arn:aws:s3:::fastai-model"

functions:
  hotdog:
    environment:
      MODEL_BUCKET: fastai-models-hotdog
      MODEL_KEY: hotdog/model.tar.gz
    handler: handler.lambda_handler
    layers:
      - arn:aws:lambda:us-east-1:934676248949:layer:pytorchv1-py36:2
    events:
      - http:
          path: invoke
          method: post
          cors: true
